body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: rgb(0 0 0 / 5%);
}

header {
	background: #fff;
	box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
	padding: 20px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: #333;
	text-decoration: none;
	margin: 0 15px;
	font-weight: 500;
}

main {
	padding: 40px 20px;
}

footer {
	background: #fff;
	box-shadow: 0 -2px 4px rgb(0 0 0 / 5%);
	padding: 20px 40px;
	text-align: center;
}
